
h2 {
    font-family: "Work Sans",sans-serif;
    font-weight: 200;
    font-size: 66px;
    color: #aaa;
    margin: 0;
}

h3 {
    font-family: "Work Sans",sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

p {
    font-family: "Work Sans",sans-serif;
    line-height: 1.42857143
}

a {
    font-family: "Work Sans",sans-serif;
}

body {
    background-color: #aaa
}

.container {
}

.header {
    background-color: #eee;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.navbar {
    margin: 0;
    float: left;
    width: 20%;
    padding-top: 7px;
}
.navitem {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.player-container {
    padding-top: 25px;
    text-align: center;
}

.player-title h3{
    padding: 0;
}
.section {
    padding-top: 10px;
}

.hero {
    text-align: center;
    color: white;
}

.wallpaper {
    background: no-repeat top center url('../img/youtube_pattern.png') rgba(0, 0, 0, 0.55);
    background-size: 100%;
}

.hero2{
    background: no-repeat top center url('../img/negativespace-15.jpg') rgba(0, 0, 0, 0.55);
    background-size: 100%;
}

.hero2 h2{
    color: white;
}

.hero h2 {
    color: white;
}

.logo {
    margin:0 auto;
    width: 200px;
    text-align: center;
    color: #b11c1a;
    font-size: 30px;
    line-height: 32px;
}

.logo img {
    vertical-align: bottom;
    height: 34px;
}

.btn {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: #B11C1A;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 24px;
    margin-right: 50px;
}

.btn-last {
    margin-right: 0;
}

.cta-btn {
    padding-top: 100px;
    padding-bottom: 150px;
}

.dry {
    border-top: 5px solid #aaa;
    padding: 80px 0;
}

.dry_alt {
    border-top: 5px solid #ff3300;
    padding-bottom: 150px;
}

.dry p {
    font-size: 20px;
}

.wrapper {
    text-align: center;
}

.wrapper-mid {
    width: 768px;
    margin: 0 auto;
}

.marketing_titles{
    font-family: "Work Sans",sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.marketing_titles ul{
    list-style: none;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.marketing_titles li{
    display: inline-block;
    padding: 15px 55px;
}

.marketing_titles a{
    display: inline-block;
    color: white;
    text-decoration: none;

}

.marketing_titles a span{
    font-size: 70px;

}

.marketing_titles li :hover{
    color: red;
}

.footer {
    width: auto;
    padding: 50px 15px;
}

.footer_nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer_nav li {
    display: inline-block;
    padding: 15px 0;
}

.footer_nav a {
    font-family: "Work Sans",sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0 15px;
    text-decoration: none;
}

.footer_nav a:hover {
    color: #87ca1d;
}

.footer p{
    padding: 15px 0;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.social a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 0 22px;
}







