<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../public/css/normalize.css">
        <link rel="stylesheet" href="../../public/css/main.css">
        <link rel="stylesheet" href="../../public/css/icomoon/style.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    </head>
    <body class="wallpaper">
        <nav class="header">
            <ul class="navbar">
                <li class="navitem"><a href="/index/">Home</a></li>
            </ul>
            <div class="logo">
                <img src="img/logo1.png" height="34" /> BuckYT
            </div>
        </nav>
        <div class="content"><%- body %></div>
    </body>
</html>
