<form method="POST" action="">
    <input type="hidden" id="videoList" name="videoList" value=""/>
    <div class="entry">
        <ul>
            <li><p>Title:</p><input type="text" name="title" placeholder="Title of Your BuckYT"></li>
            <li><p>Author:</p><input type="text" name="author" placeholder="Your Name"></li>
            <li><p>Video:</p><input class="js-videourl" type="text"
                placeholder="Youtube URL"><a href="#" class="btn add js-add">+</a></li>
        </ul>
    </div>
    <div class="save-btn">
        <ul>
            <li><input type="submit" class="btn js-save" value="Save"></li>
        </ul>
    </div>
</form>
    <div class="preview">
        <h3>Preview</h3>
        <div class = "player-container">
            <div class="players">
            </div>
        </div>  
        <script type="text/javascript" src="/js/make.js"></script>
    </div>