<div class="section">
            <div class="hero">
                <h2>Congratulations!</h2>
                <h3>Here's your BuckYT: [Your URL Here]</h3>
                <p>Share It!</p>
                <div class= "social">
                    <p>
                    <a class="icon icon-facebook" href="https://www.facebook.com" target="none"></a>
                    <a class="icon icon-twitter" href="https://twitter.com" target="none"></a>
                    <a class="icon icon-instagram" href="https://instagram.com" target="none"></a></p>
                </div>
                <div class="cta-btn">
                    <a class="btn btn-last" href="/make/">Make a new BuckYT</a>
                </div>
            </div>
        </div>