<div class = "player-container">
    <div class ="player-title">
        <h3><%= buckyt.title %></h3>
    </div>
    <img src="/img/squares.gif" class="spinner">
    <div class ="players">
    <% for(var i=0; i < buckyt.videoList.length; i++){%>
      <div data-videoid="<%=buckyt.videoList[i]%>"></div>
    <%}%>  
    </div>
    <script type="text/javascript" src="/js/view.js"></script>
</div>