<div class = "player-container">
    <div class ="player-title">
        <h3><%= buckyt.title %></h3>
        <p>Created by <%= buckyt.author %> | <%= buckyt.videoList.length %> Videos</p>
    </div>
    <img src="/img/spinner.gif" class="spinner">
    <div class="player-controls"><a href="#" class="jsPrevious carouselPrevious">&larr; Previous</a>
    <a href="#" class="jsNext carouselNext">Next &rarr;</a></div>
    <div class ="players">
    <% for(var i=0; i < buckyt.videoList.length; i++){%>
      <div data-videoid="<%=buckyt.videoList[i]%>"></div>
    <%}%>  
    </div>
    <script type="text/javascript" src="/js/view.js"></script>
</div>